<% include partials/header %>

<ul>
    <% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%=campground.image%>" alt="campground">
    </div>
    <% }); %>
</ul>

<a href="/">Back to home</a>
<a href="/campgrounds/new">Add a campground</a>

<% include partials/footer %>