<% include partials/header %>

<a href="/">Back to home</a>

<form action="/campgrounds" method="POST">
    <label>Campground Name:<input type="text" name="name"></label>
    <label>Campground Image URL:<input type="text" name="url"></label>
    <button>Submit</button>
</form>


<% include partials/footer %>